.content_main{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.content{
    font-style: normal;
    font-weight: 440;
    font-size: 42px;
    line-height: 48px;
    width: 530px;
    font-family: sans-serif;
    text-align: left;
    line-height: 1.27;
    letter-spacing: -1px;
}